<!DOCTYPE html>
<html lang="en">
<head>
    <title>
        <%= title %>
    </title>
    <!-- link -->
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script src="https://kit.fontawesome.com/b7a2ac83f3.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="nav">
        <div class="search_bar">
            <input type="search" name="search" placeholder="search books...">
            <a href="#">
                <i class="fa-solid fa-magnifying-glass"></i>
            </a>
        </div>

        <a href="/student_login">Log Out</a>
    </div>
        
    <div class="cards_container">
        <% Object.values(books).forEach((books) => {%>  
        <div class="card">
            <div class="book_picture">
                <img src="<%= books.book_picture%>">
            </div>
            <br>
            <!-- <div class="book_category">
                <h3><%= books.category%></h3>
            </div> -->
            <br>
            <div class="book_name">
                <b><%= books.book_name%> </b>
            </div>
            
            <div class="book_author">
                <p>By: <%= books.book_author%></p>
            </div>
            <div class="borrow">
                <a href="#">Borrow</a>
            </div>
        </div>
        <% }) %>
    </div>
</body>
</html>